service cloud.firestore {
  match /databases/{database}/documents {
    match /workouts/{workout} {
      allow read: if resource.data.uid == request.auth.uid;
      match /{subpath=**} {
      	allow read: if get(/databases/$(database)/documents/workouts/$(workout)).data.uid == request.auth.uid;
      }
    }
  }
}